html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.3;
  color: #555;
  font-family: 'Poppins', sans-serif !important; }

* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: bold; }

h1 {
  font-weight: normal;
  margin: 0; }

h2 {
  font-weight: normal;
  margin: 0; }

h6 {
  color: #d03656; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
.btn {
  text-transform: uppercase;
  color: #222222;
  font-size: 1.7rem;
  line-height: 2.9rem;
  font-weight: 400;
  border-radius: 5px; }
  .btn--primary {
    background-color: #ffae30; }
  @media only screen and (max-width: 1023px) {
    .btn {
      font-size: 1.5rem; } }

.badge {
  border: 1px solid var(--themecolor, #fe9603);
  color: var(--themecolor, #fe9603);
  padding: 8px;
  font-size: 12px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: 600;
  line-height: 0.8; }

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  line-height: 40px; }

label {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer; }

.header__top {
  display: flex;
  margin: 15px 110px;
  justify-content: space-between; }
  .header__top-left {
    display: flex;
    align-items: center; }
    .header__top-left .eng {
      position: relative; }
      .header__top-left .eng > a {
        display: block;
        padding: 12px;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        color: #666; }
        .header__top-left .eng > a > img {
          position: relative;
          display: inline-block;
          border-radius: 20px;
          width: 20px;
          height: 20px;
          top: -2px;
          margin-right: 8px;
          border: 0.5px solid #fff;
          background-color: #555; }
      .header__top-left .eng > ul {
        position: absolute;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        list-style: none;
        z-index: 999;
        line-height: 1.5;
        background: #fff;
        border: 0;
        top: 100%;
        margin-top: 10px;
        width: 140px;
        box-shadow: var(--headerboxshadow, 0 0 10px 5px rgba(0, 0, 0, 0.05));
        transition: 0.3s; }
        .header__top-left .eng > ul > li {
          display: block;
          font-size: 12px;
          line-height: 20px;
          font-weight: 700;
          border: 1px solid #eee;
          text-transform: uppercase; }
          .header__top-left .eng > ul > li > a {
            text-decoration: none;
            display: block;
            color: #555;
            padding: 10px; }
            .header__top-left .eng > ul > li > a > img {
              position: relative;
              display: inline-block;
              border-radius: 20px;
              width: 16px;
              height: 16px;
              top: -2px;
              margin-right: 4px;
              border: 1px solid #fff;
              background-color: #555; }
          .header__top-left .eng > ul > li > a:hover {
            background: #00acee; }
    .header__top-left > li:hover {
      background-color: #eee; }
      .header__top-left > li:hover > ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        margin-top: 0; }
  .header__top-right {
    display: flex;
    align-items: center;
    margin-right: 20px; }
    .header__top-right > li > a {
      position: relative;
      display: flex;
      font-size: 14px;
      padding: 12px 15px;
      line-height: 20px;
      text-decoration: none;
      overflow: hidden;
      font-weight: 700;
      text-transform: uppercase;
      color: #666;
      align-items: center; }
    .header__top-right-facebook:hover {
      background: #3b5998; }
      .header__top-right-facebook:hover > a {
        color: #eee; }
    .header__top-right-twitter:hover {
      background: #00acee; }
      .header__top-right-twitter:hover > a {
        color: #eee; }
    .header__top-right-youtube:hover {
      background: #c4302b; }
      .header__top-right-youtube:hover > a {
        color: #eee; }
    .header__top-right-instagram:hover {
      background: #8a3ab9; }
      .header__top-right-instagram:hover > a {
        color: #eee; }
    .header__top-right-phone:hover {
      background: #444444; }
      .header__top-right-phone:hover > a {
        color: #eee; }
    .header__top-right-envelope:hover {
      background: #6567a5; }
      .header__top-right-envelope:hover > a {
        color: #eee; }

@media only screen and (max-width: 810px) {
  .header__top {
    margin: 15px 80px; } }
@media only screen and (max-width: 767px) {
  .header__top-left .eng > a {
    padding: 8px; }
  .header__top-left .rps > a {
    display: flex;
    align-items: center; }
    .header__top-left .rps > a > img {
      display: none; }
    .header__top-left .rps > a > svg {
      margin-left: 5px; }
  .header__top-right > li > a {
    padding: 8px 11px; } }
.header__menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0px 0px 10px 5px #f0f0f7; }
  .header__menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__menu-logo > img {
      height: 80px; }
    .header__menu-logo .beat-box {
      display: none; }
      .header__menu-logo .beat-box .btn {
        color: white;
        background-color: #fe9603;
        font-size: var(--menufontsize, 15px);
        font-weight: 700;
        padding: 4px 15px 4px 15px;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 15px; }
      .header__menu-logo .beat-box .btn:hover {
        background-color: #333333; }
      .header__menu-logo .beat-box .search {
        padding: 0 15px;
        color: #666;
        font-size: 18px;
        text-decoration: none; }
  .header__menu-item-list {
    display: flex;
    line-height: 40px;
    align-items: center; }
    .header__menu-item-list-title > a {
      color: #666;
      text-decoration: none; }
      .header__menu-item-list-title > a > div {
        font-size: var(--menufontsize, 15px);
        font-weight: 700;
        padding: 25px 15px; }
    .header__menu-item-list-title:hover > a {
      color: #fe9603; }
    .header__menu-item-list-services > a {
      color: #666;
      text-decoration: none; }
      .header__menu-item-list-services > a > div {
        padding: 25px 15px;
        font-size: var(--menufontsize, 15px);
        font-weight: 700; }
    .header__menu-item-list-services .mega-menu {
      position: absolute;
      left: 0;
      top: 120%;
      display: flex;
      flex-wrap: wrap;
      visibility: hidden;
      opacity: 0;
      width: 100.1%;
      z-index: 999;
      box-shadow: var(--headerboxshadow, 0 0 10px 5px rgba(0, 0, 0, 0.05));
      border-top: 2px solid #fe9603;
      transition: 0s; }
      .header__menu-item-list-services .mega-menu > div {
        padding: 0; }
        .header__menu-item-list-services .mega-menu > div > a {
          color: #333333;
          text-decoration: none; }
          .header__menu-item-list-services .mega-menu > div > a > div {
            background-color: white;
            border: 1px solid #eee;
            padding: 25px 20px 15px 20px; }
            .header__menu-item-list-services .mega-menu > div > a > div .fbox-icon {
              width: 60px;
              padding-bottom: 10px; }
            .header__menu-item-list-services .mega-menu > div > a > div .fbox-content > p {
              margin-top: 8px;
              line-height: 25px;
              font-size: 17px;
              color: #999; }
        .header__menu-item-list-services .mega-menu > div > a:hover > div {
          background-color: #f8f9fa; }
      .header__menu-item-list-services .mega-menu .view {
        text-align: center;
        background-color: #eee;
        font-size: 16px;
        padding: 10px 0;
        color: #333;
        font-weight: 700;
        transition: 0.3s; }
        .header__menu-item-list-services .mega-menu .view .icon {
          font-size: 14px; }
      .header__menu-item-list-services .mega-menu .view:hover {
        background-color: #444444;
        color: white; }
    @media only screen and (max-width: 991px) {
      .header__menu-item-list {
        line-height: 24px; } }
    .header__menu-item-list-services:hover > a {
      color: #fe9603; }
    .header__menu-item-list-services:hover .mega-menu {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      top: 100%;
      transition: 0.3s; }
    .header__menu-item-list-search > a {
      text-decoration: none; }
      .header__menu-item-list-search > a > div {
        padding: 0 15px;
        color: #666;
        font-size: var(--menufontsize, 15px);
        font-weight: 700; }
    .header__menu-item-list-buttom > a {
      color: white;
      background-color: #fe9603;
      font-size: var(--menufontsize, 15px);
      font-weight: 700;
      padding: 5px 15px 5px 15px;
      text-decoration: none; }
    .header__menu-item-list-buttom:hover > a {
      background: #444444;
      color: #eee; }

@media only screen and (max-width: 991px) {
  .header {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6; }
    .header__menu {
      overflow: hidden;
      flex-direction: column;
      align-items: initial;
      padding: 0;
      border: 0;
      box-shadow: none; }
      .header__menu-logo .beat-box {
        display: flex;
        align-items: center; }
        .header__menu-logo .beat-box .humberger {
          cursor: pointer; }
          .header__menu-logo .beat-box .humberger > svg {
            font-size: 14px; }
      .header__menu-item {
        height: 0;
        transition: 0.5s; }
        .header__menu-item-list {
          flex-direction: column;
          align-items: flex-start; }
          .header__menu-item-list-title {
            border-bottom: 1px solid #dbdbdb;
            width: 100%; }
            .header__menu-item-list-title > a > div {
              padding: 14px 5px; }
          .header__menu-item-list-services {
            border-bottom: 1px solid #dbdbdb;
            width: 100%; }
            .header__menu-item-list-services > a {
              display: flex;
              justify-content: space-between; }
              .header__menu-item-list-services > a > div {
                padding: 14px 5px; }
          .header__menu-item-list-search {
            display: none; }
          .header__menu-item-list-buttom {
            display: none; }
      .header__menu .show-menu {
        height: 35.8vh; } }
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1350px; } }
.banner {
  margin-top: -157.05px; }
  .banner .slider-inner {
    z-index: 1;
    background-image: url(../img/hero-1.jpg);
    background-size: cover;
    background-position: center;
    height: 731.2px; }
  .banner__content {
    padding-top: 187.05px; }
    .banner__content-title {
      padding: 15px 0 30px 0; }
      .banner__content-title > h1 {
        color: #444444;
        font-size: 50px;
        line-height: 1.3;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 26px; }
      .banner__content-title > h4 {
        font-size: 18px;
        color: #aaaaaa; }
      .banner__content-title > p {
        color: #777777;
        line-height: 1.7;
        font-size: 16px; }
    .banner__content-buttom .buttom-left {
      margin-right: 10px;
      padding: 8px 10px 8px 10px;
      color: white;
      font-size: 15px;
      font-weight: 600;
      background-color: #fe9603; }
    .banner__content-buttom .buttom-left:hover {
      background-color: #3a3a3a; }
    .banner__content-buttom .buttom-right {
      color: #444444;
      padding: 8px 10px 8px 10px;
      background: white;
      font-size: 15px;
      font-weight: 600;
      border: 1px solid #cccccc; }
  @media only screen and (max-width: 1199px) {
    .banner .slider-inner {
      height: 640px; }
    .banner__content-title {
      padding: 15px 0 30px 0; }
      .banner__content-title > h1 {
        color: #444444;
        font-size: 40px;
        line-height: 1.3;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 26px; }
      .banner__content-title > h4 {
        font-size: 18px;
        color: #aaaaaa; }
      .banner__content-title > p {
        color: #777777;
        line-height: 1.7;
        font-size: 16px; } }
  @media only screen and (max-width: 991px) {
    .banner {
      margin: 0; }
      .banner .slider-inner {
        height: 550px; }
      .banner__content-title {
        padding: 15px 0 30px 0; }
        .banner__content-title > h1 {
          color: #444444;
          font-size: 30px;
          line-height: 1.3;
          letter-spacing: -1px;
          font-weight: 700;
          margin-bottom: 26px; }
        .banner__content-title > h4 {
          font-size: 18px;
          color: #aaaaaa; }
        .banner__content-title > p {
          color: #777777;
          line-height: 1.7;
          font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .banner .slider-inner {
      height: 520px; } }

.services {
  position: relative;
  width: 100%;
  background-color: transparent !important;
  padding: 0 0px 20px 0;
  overflow: hidden; }
  .services__carousel {
    border-bottom: 1px solid #e0e0e0;
    padding: 40px 0; }
    .services__carousel .item > img {
      height: 34px; }
  @media only screen and (max-width: 767px) {
    .services__carousel .item > img {
      width: 100%; } }
  .services__content {
    margin-top: 80px;
    text-align: center; }
    .services__content-title {
      display: inline-block;
      max-width: 550px; }
      .services__content-title > h3 {
        padding-top: 5px;
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 28px;
        color: #333; }
      .services__content-title > p {
        font-size: 18.1px;
        line-height: 30px;
        color: #777;
        margin-bottom: 30px; }
    .services__content-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 70px; }
      .services__content-inner-left {
        display: flex;
        padding-right: 30px;
        padding-bottom: 30px; }
        .services__content-inner-left .fbox-icon {
          padding-top: 20px;
          padding-left: 5px; }
          .services__content-inner-left .fbox-icon > img {
            width: 65px; }
        .services__content-inner-left .fbox-content {
          text-align: right;
          padding: 10px 10px 0 0; }
          .services__content-inner-left .fbox-content > h3 {
            font-size: 17px; }
          .services__content-inner-left .fbox-content > p {
            line-height: 25px;
            font-size: 16px;
            color: #999; }
      .services__content-inner-img > img {
        width: 100%; }
      .services__content-inner-right {
        display: flex;
        padding-left: 30px;
        padding-bottom: 30px; }
        .services__content-inner-right .fbox-icon {
          padding-top: 20px; }
          .services__content-inner-right .fbox-icon > img {
            width: 65px; }
        .services__content-inner-right .fbox-content {
          text-align: left;
          padding: 10px 0 0 10px; }
          .services__content-inner-right .fbox-content > h3 {
            font-size: 17px; }
          .services__content-inner-right .fbox-content > p {
            line-height: 25px;
            font-size: 16px;
            color: #999; }
      @media only screen and (max-width: 767px) {
        .services__content-inner .phone {
          padding: 0 20px 0 20px; }
        .services__content-inner .fbox-content {
          text-align: left; } }
      @media only screen and (max-width: 564px) {
        .services__content-inner {
          display: flex;
          flex-direction: column; }
          .services__content-inner .phone {
            display: flex;
            justify-content: center; }
          .services__content-inner-img {
            width: 300px; }
          .services__content-inner-left {
            flex-direction: row-reverse;
            padding: 0 0 20px 0; }
            .services__content-inner-left .fbox-content {
              padding: 10px 0 0 10px; }
          .services__content-inner-right {
            padding: 20px 0 0 0; } }

.pricing {
  background-image: url(../img/4.png);
  background-size: cover;
  padding: 140px 0 0 0; }
  .pricing__content {
    display: flex;
    padding-top: 15px;
    padding-bottom: 80px;
    flex-wrap: wrap; }
    .pricing__content-title > p {
      padding-top: 30px;
      line-height: 28px;
      font-size: 18px; }
    .pricing__content-title-switcher {
      padding-top: 30px;
      display: flex; }
      .pricing__content-title-switcher .month {
        padding-right: 15px;
        font-size: 17px;
        font-weight: 700; }
      .pricing__content-title-switcher .year {
        font-size: 17px;
        padding-left: 15px;
        color: #a7a7a7; }
    .pricing__content-buy {
      display: flex;
      flex-wrap: wrap; }
      .pricing__content-buy > div {
        padding: 0; }
      .pricing__content-buy-box {
        position: relative;
        margin-right: -0.5px;
        padding: 20px;
        background-color: white;
        border: 1px solid #e0e0e0; }
        .pricing__content-buy-box .pricing-title {
          letter-spacing: 1px; }
          .pricing__content-buy-box .pricing-title > img {
            max-width: 100%;
            width: 50px; }
          .pricing__content-buy-box .pricing-title > h3 {
            padding-top: 10px;
            margin: 0;
            font-size: 21px;
            letter-spacing: 0;
            color: #555;
            text-transform: none; }
          .pricing__content-buy-box .pricing-title > span {
            font-size: 14px;
            display: block;
            color: #777;
            margin: 3px 0; }
        .pricing__content-buy-box .pricing-price {
          padding: 1.5rem 0;
          color: #333;
          font-size: 60px;
          line-height: 1; }
          .pricing__content-buy-box .pricing-price-left {
            font-weight: 600; }
            .pricing__content-buy-box .pricing-price-left .price-unit {
              display: inline-block;
              vertical-align: top;
              margin: 7px 3px 0 0;
              font-size: 28px;
              font-weight: 400; }
            .pricing__content-buy-box .pricing-price-left .price-tenure {
              display: block;
              color: #aaa;
              font-size: 16px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #999;
              margin: 0 0 0 3px; }
        .pricing__content-buy-box .pricing-futures > ul > li {
          padding: 7px 0;
          font-size: 14px; }
          .pricing__content-buy-box .pricing-futures > ul > li .icon {
            color: #fe9603; }
        .pricing__content-buy-box .pricing-action > a {
          background-color: #fe9603;
          text-transform: capitalize;
          width: 100%;
          font-weight: 700;
          font-size: 16px;
          color: white;
          transition: 0.3s; }
        .pricing__content-buy-box .pricing-action > a:hover {
          background-color: #444;
          color: #fff; }
      .pricing__content-buy .right {
        margin-top: 24px; }

.careers {
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0; }
  .careers-box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .careers .form {
    margin: 0 50px; }
  .careers .youtobe {
    text-align: center; }
    .careers .youtobe > a {
      background-color: #ef8e3c;
      border-radius: 50%;
      padding: 32px 25px 27px 27px;
      line-height: 71px;
      transition: 0.3s; }
      .careers .youtobe > a .icon {
        padding: 0;
        font-size: 24px;
        color: white;
        transition: 0.3s; }
    .careers .youtobe > a:hover {
      padding: 35px 28px 30px 30px; }
      .careers .youtobe > a:hover .icon {
        font-size: 26px; }
  .careers__title > p {
    padding-top: 30px;
    line-height: 28px;
    font-size: 18px; }
  .careers__apply {
    box-shadow: 0px 0px 11px -5px;
    border-radius: 5px;
    overflow: hidden; }
    .careers__apply-body {
      background-color: #fff;
      padding: 10px; }
      .careers__apply-body > h4 {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px; }
      .careers__apply-body-form > form > div {
        display: flex;
        flex-direction: column;
        padding: 0; }
        .careers__apply-body-form > form > div > input {
          display: block;
          width: 100%;
          padding: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
        .careers__apply-body-form > form > div > a {
          text-transform: capitalize;
          font-weight: 600;
          color: #fff;
          padding-bottom: 5px; }
        .careers__apply-body-form > form > div > a:hover {
          background-color: #212529;
          color: #fff; }
  @media only screen and (max-width: 767px) {
    .careers-box {
      flex-direction: column; }
    .careers .form {
      margin: 0;
      border-radius: 5px; }
    .careers__apply-body {
      border-radius: 5px; } }

.projects {
  background-image: url(../img/5.jpg);
  background-size: cover;
  padding-top: 80px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 40px; }
  .projects__works {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 30px; }
    .projects__works-item {
      position: relative; }
      .projects__works-item > img {
        width: 100%; }
      .projects__works-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a8a8a8;
        transition: 0.5s; }
        .projects__works-item .overlay > a {
          color: black;
          width: 40px;
          border-radius: 50%;
          background: white;
          line-height: 40px;
          font-size: 12px; }
    .projects__works-item:hover .overlay {
      opacity: 0.8; }
    .projects__works-content {
      text-align: left;
      padding-bottom: 20px; }
      .projects__works-content > h3 {
        padding-top: 10px;
        font-size: 22px; }
        .projects__works-content > h3 > a {
          color: #444444;
          text-decoration: none; }
        .projects__works-content > h3 > a:hover {
          color: #fe961a; }
      .projects__works-content > p {
        color: #818181;
        font-size: 18px; }
  .projects__view {
    padding-bottom: 50px; }
    .projects__view > a {
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
      padding: 5px 25px 5px 25px;
      color: white; }
    .projects__view > a:hover {
      color: white;
      background-color: #444444; }

.planning {
  padding-top: 70px;
  padding-bottom: 40px; }
  .planning__steps {
    display: flex;
    text-align: center;
    flex-wrap: wrap; }
    .planning__steps-all > a > img {
      margin-bottom: 20px;
      width: 65px; }
    .planning__steps-all > h3 {
      text-transform: capitalize;
      font-size: 18px; }
    .planning__steps-all > p {
      font-size: 17px;
      line-height: 25px; }
    @media only screen and (max-width: 767px) {
      .planning__steps-all > P {
        margin-bottom: 10px; } }

.testimonials {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: lightgray; }
  .testimonials__title {
    text-align: center; }

.articles {
  padding: 50px 0; }
  .articles__title {
    text-align: center;
    padding-bottom: 40px; }
  .articles__content {
    display: flex;
    flex-wrap: wrap; }
    .articles__content-blog .blog-image > a > img {
      border-radius: 5px;
      width: 100%; }
    .articles__content-blog .blog-title {
      padding-top: 20px; }
      .articles__content-blog .blog-title > a {
        color: #222222;
        text-decoration: none; }
        .articles__content-blog .blog-title > a > h4 {
          font-size: 18px; }
      .articles__content-blog .blog-title .blog-information {
        display: flex;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px; }
        .articles__content-blog .blog-title .blog-information > div {
          display: flex;
          flex-wrap: wrap; }
          .articles__content-blog .blog-title .blog-information > div > a {
            text-decoration: none;
            font-size: 15px;
            color: #999999;
            margin-left: 5px; }
          .articles__content-blog .blog-title .blog-information > div > a:hover {
            color: #222; }
        .articles__content-blog .blog-title .blog-information .divide {
          font-size: 14px;
          padding: 0 27px 0 20px; }
        @media only screen and (max-width: 991px) {
          .articles__content-blog .blog-title .blog-information {
            flex-direction: column; }
            .articles__content-blog .blog-title .blog-information .divide {
              width: 0;
              height: 0; } }
    .articles__content-blog .blog-content > p {
      font-size: 17px;
      line-height: 30px;
      color: #818181;
      font-family: 'Poppins', sans-serif !important; }

.contact {
  padding: 165px 0;
  overflow: visible;
  position: relative; }
  .contact__title {
    position: relative;
    text-align: center; }
    .contact__title > h5 {
      font-family: 'Poppins', sans-serif !important;
      letter-spacing: 1px !important;
      color: #444444;
      padding-bottom: 5px; }
    .contact__title > h2 {
      font-size: 30px;
      font-weight: 700;
      padding-bottom: 25px;
      color: #252525; }
      .contact__title > h2 > span {
        color: #fe9603; }
    .contact__title > a {
      background-color: #fe9603;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 16px;
      color: white;
      padding: 5px 20px 5px 20px; }
    .contact__title > a:hover {
      background-color: #444444;
      color: white; }

.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  width: 55%;
  height: 451px;
  background-image: url(../img/hero-3.svg);
  background-size: 1280px 451px; }

.footer {
  padding: 80px 0; }
  .footer__title {
    display: flex;
    padding-bottom: 20px; }
    .footer__title > div > img {
      margin-top: 10px;
      border-right: 1px solid #ddd;
      padding-right: 18px; }
    .footer__title > p {
      padding-left: 20px;
      line-height: 1.7;
      letter-spacing: 0.7px;
      font-size: 16px; }
    @media only screen and (max-width: 1400px) {
      .footer__title > p {
        padding-left: 50px; } }
    @media only screen and (max-width: 1199px) {
      .footer__title > p {
        padding-left: 60px; } }
    @media only screen and (max-width: 996px) {
      .footer__title > p {
        padding-left: 90px; } }
  .footer__item {
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap; }
    .footer__item > div > ul {
      padding-top: 30px;
      padding-bottom: 15px; }
      .footer__item > div > ul > li {
        padding: 5px;
        padding-left: 0; }
        .footer__item > div > ul > li > a {
          padding-left: 10px;
          color: #666666;
          font-size: 17px;
          text-decoration: none; }
        .footer__item > div > ul > li > a:hover {
          color: #2c2c2c; }
  .footer__contact {
    display: flex;
    padding-bottom: 10px; }
    .footer__contact-icon {
      padding-top: 5px;
      font-size: 30px;
      padding-right: 10px;
      color: #313131; }
    .footer__contact-inner > span {
      color: #949494;
      margin-top: 5px;
      font-size: 16px; }
    .footer__contact-inner > h3 {
      color: #333333;
      font-size: 17px;
      padding-top: -10px; }
  .footer__you > p {
    font-size: 14px;
    line-height: 24px;
    color: #666666; }
  .footer__you .your-email {
    display: flex; }
    .footer__you .your-email .icon {
      font-size: 20px;
      border: 1px solid;
      margin-bottom: 6px;
      padding: 3px 10px; }
    .footer__you .your-email > div > input {
      margin-left: -1px;
      padding: 4px 5px;
      width: 72%;
      font-size: 1.7rem;
      outline: #dddddd; }
    @media only screen and (max-width: 1199px) {
      .footer__you .your-email > div > input {
        width: 64%; } }
    @media only screen and (max-width: 991px) {
      .footer__you .your-email > div > input {
        width: 40%; } }
    @media only screen and (max-width: 759px) {
      .footer__you .your-email > div > input {
        width: 60%; } }
    .footer__you .your-email > div > a {
      margin-top: -1px;
      margin-left: -4px;
      margin-bottom: 5px;
      color: white;
      padding: 2px 5px 1px 5px;
      /* border-radius: 0; */
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      text-transform: capitalize; }
    .footer__you .your-email > div > a:hover {
      color: white;
      background-color: #333333; }
  .footer__widget {
    display: flex;
    padding-top: 40px;
    padding-left: 4px; }
    .footer__widget-like {
      width: 100%;
      display: flex;
      margin-left: -5px;
      margin-top: 15px;
      justify-content: center; }
      .footer__widget-like .like-left {
        display: flex;
        padding: 5px 0;
        overflow: hidden; }
        .footer__widget-like .like-left .icon {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          background-color: #3b5998; }
          .footer__widget-like .like-left .icon > a {
            position: absolute;
            display: flex;
            top: -13px;
            left: 9%;
            flex-direction: column;
            padding: 7px 13px;
            font-size: 21px;
            margin-left: -19px;
            transition: 0.4s; }
            .footer__widget-like .like-left .icon > a > svg {
              margin-top: 20px;
              color: white; }
          @media only screen and (max-width: 991px) {
            .footer__widget-like .like-left .icon > a {
              padding: 7px 13px; } }
          @media only screen and (max-width: 759px) {
            .footer__widget-like .like-left .icon > a {
              left: 7%; } }
          .footer__widget-like .like-left .icon > a:hover {
            top: -106%; }
        .footer__widget-like .like-left > a {
          text-decoration: none;
          margin-left: 10px;
          line-height: 20px;
          font-size: 14px;
          color: #333333;
          width: 75%; }
      .footer__widget-like .like-right {
        display: flex;
        padding: 5px 0;
        overflow: hidden; }
        .footer__widget-like .like-right .icon {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          background-color: #ee802f; }
          .footer__widget-like .like-right .icon > a {
            position: absolute;
            display: flex;
            top: -13px;
            text-decoration: none;
            left: 8%;
            flex-direction: column;
            padding: 7px 13px;
            font-size: 21px;
            margin-left: -19px;
            transition: 0.4s; }
            .footer__widget-like .like-right .icon > a > svg {
              margin-top: 20px;
              color: white; }
          @media only screen and (max-width: 759px) {
            .footer__widget-like .like-right .icon > a {
              left: 7%; } }
          .footer__widget-like .like-right .icon > a:hover {
            top: -106%; }
        .footer__widget-like .like-right > a {
          margin-left: 10px;
          line-height: 20px;
          text-decoration: none;
          font-size: 14px;
          color: #333333;
          width: 75%; }

/*# sourceMappingURL=main.css.map */
