.header__top {
  display: flex;
  margin: 15px 110px;
  justify-content: space-between;
  &-left {
    display: flex;
    align-items: center;
    .eng {
      position: relative;
      > a {
        display: block;
        padding: 12px;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        color: #666;
        > img {
          position: relative;
          display: inline-block;
          border-radius: 20px;
          width: 20px;
          height: 20px;
          top: -2px;
          margin-right: 8px;
          border: 0.5px solid #fff;
          background-color: #555;
        }
      }
      > ul {
        position: absolute;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        list-style: none;
        z-index: 999;
        line-height: 1.5;
        background: #fff;
        border: 0;
        top: 100%;
        margin-top: 10px;
        width: 140px;
        box-shadow: var(--headerboxshadow, 0 0 10px 5px rgba(0, 0, 0, 0.05));
        transition: 0.3s;
        > li {
          display: block;
          font-size: 12px;
          line-height: 20px;
          font-weight: 700;
          border: 1px solid #eee;
          text-transform: uppercase;
          > a {
            text-decoration: none;
            display: block;
            color: #555;
            padding: 10px;
            > img {
              position: relative;
              display: inline-block;
              border-radius: 20px;
              width: 16px;
              height: 16px;
              top: -2px;
              margin-right: 4px;
              border: 1px solid #fff;
              background-color: #555;
            }
          }
          > a:hover {
            background: #00acee;
          }
        }
      }
    }
    > li:hover {
      background-color: #eee;
      > ul {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        margin-top: 0;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
    > li {
      > a {
        position: relative;
        display: flex;
        font-size: 14px;
        padding: 12px 15px;
        line-height: 20px;
        text-decoration: none;
        overflow: hidden;
        font-weight: 700;
        text-transform: uppercase;
        color: #666;
        align-items: center;
      }
    }
    &-facebook:hover {
      background: #3b5998;
      > a {
        color: #eee;
      }
    }
    &-twitter:hover {
      background: #00acee;
      > a {
        color: #eee;
      }
    }
    &-youtube:hover {
      background: #c4302b;
      > a {
        color: #eee;
      }
    }
    &-instagram:hover {
      background: #8a3ab9;
      > a {
        color: #eee;
      }
    }
    &-phone:hover {
      background: #444444;
      > a {
        color: #eee;
      }
    }
    &-envelope:hover {
      background: #6567a5;
      > a {
        color: #eee;
      }
    }
  }
}
@include breakpoint(810) {
  .header__top {
    margin: 15px 80px;
  }
}
@include breakpoint(767) {
  .header__top {
    &-left {
      .eng {
        > a {
          padding: 8px;
        }
      }
      .rps {
        > a {
          display: flex;
          align-items: center;
          > img {
            display: none;
          }
          > svg {
            margin-left: 5px;
          }
        }
      }
    }
    &-right {
      > li {
        > a {
          padding: 8px 11px;
        }
      }
    }
  }
}

.header {
  &__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 0px 0px 10px 5px #f0f0f7;
    &-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > img {
        height: 80px;
      }
      .beat-box {
        display: none;
        // display: flex;
        // align-items: center;
        .btn {
          color: white;
          background-color: #fe9603;
          font-size: var(--menufontsize, 15px);
          font-weight: 700;
          padding: 4px 15px 4px 15px;
          text-decoration: none;
          border-radius: 4px;
          margin-right: 15px;
        }
        .btn:hover {
          background-color: #333333;
        }
        .search {
          padding: 0 15px;
          color: #666;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
    &-item {
      &-list {
        display: flex;
        line-height: 40px;
        align-items: center;
        &-title {
          > a {
            color: #666;
            text-decoration: none;
            > div {
              font-size: var(--menufontsize, 15px);
              font-weight: 700;
              padding: 25px 15px;
            }
          }
        }
        &-title:hover {
          > a {
            color: #fe9603;
          }
        }
        &-services {
          > a {
            color: #666;
            text-decoration: none;
            > div {
              padding: 25px 15px;
              font-size: var(--menufontsize, 15px);
              font-weight: 700;
            }
          }
          .mega-menu {
            position: absolute;
            left: 0;
            top: 120%;
            display: flex;
            flex-wrap: wrap;
            visibility: hidden;
            opacity: 0;
            width: 100.1%;
            z-index: 999;
            box-shadow: var(
              --headerboxshadow,
              0 0 10px 5px rgba(0, 0, 0, 0.05)
            );
            border-top: 2px solid #fe9603;
            transition: 0s;
            > div {
              padding: 0;
              > a {
                color: #333333;
                text-decoration: none;
                > div {
                  background-color: white;
                  border: 1px solid #eee;
                  padding: 25px 20px 15px 20px;
                  .fbox-icon {
                    width: 60px;
                    padding-bottom: 10px;
                  }
                  .fbox-content {
                    > p {
                      margin-top: 8px;
                      line-height: 25px;
                      font-size: 17px;
                      color: #999;
                    }
                  }
                }
              }
              > a:hover {
                > div {
                  background-color: #f8f9fa;
                }
              }
            }
            .view {
              text-align: center;
              background-color: #eee;
              font-size: 16px;
              padding: 10px 0;
              color: #333;
              font-weight: 700;
              transition: 0.3s;
              .icon {
                font-size: 14px;
              }
            }
            .view:hover {
              background-color: #444444;
              color: white;
            }
          }
        }
        @include breakpoint(991) {
          line-height: 24px;
          // padding-top: 8px;
        }
        &-services:hover {
          > a {
            color: #fe9603;
          }
          .mega-menu {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            top: 100%;
            transition: 0.3s;
          }
        }
        &-search {
          > a {
            > div {
              padding: 0 15px;
              color: #666;
              font-size: var(--menufontsize, 15px);
              font-weight: 700;
            }
            text-decoration: none;
          }
        }
        &-buttom {
          > a {
            color: white;
            background-color: #fe9603;
            font-size: var(--menufontsize, 15px);
            font-weight: 700;
            padding: 5px 15px 5px 15px;
            text-decoration: none;
          }
          // @include breakpoint(991) {
          //   > a {
          //     line-height: 20px;
          //   }
          // }
        }
        &-buttom:hover {
          > a {
            background: #444444;
            color: #eee;
          }
        }
      }
    }
  }
}
@include breakpoint(991) {
  .header {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
    &__menu {
      overflow: hidden;
      flex-direction: column;
      align-items: initial;
      padding: 0;
      border: 0;
      box-shadow: none;
      &-logo {
        .beat-box {
          display: flex;
          align-items: center;
          .humberger {
            cursor: pointer;
            > svg {
              font-size: 14px;
            }
          }
        }
      }
      &-item {
        height: 0;
        transition: 0.5s;
        &-list {
          flex-direction: column;
          align-items: flex-start;
          &-title {
            border-bottom: 1px solid rgb(219, 219, 219);
            width: 100%;
            > a {
              > div {
                padding: 14px 5px;
              }
            }
          }
          &-services {
            border-bottom: 1px solid rgb(219, 219, 219);
            width: 100%;
            > a {
              display: flex;
              justify-content: space-between;
              > div {
                padding: 14px 5px;
              }
            }
          }
          &-search {
            display: none;
          }
          &-buttom {
            display: none;
          }
        }
      }
      .show-menu {
        height: 35.8vh;
      }
    }
  }
}
@include min-breakpoint(1400) {
  .container {
    max-width: 1350px;
  }
}
