.articles {
  padding: 50px 0;
  &__title {
    text-align: center;
    padding-bottom: 40px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    &-blog {
      .blog-image {
        > a {
          > img {
            border-radius: 5px;
            width: 100%;
          }
        }
      }
      .blog-title {
        padding-top: 20px;
        > a {
          color: #222222;
          text-decoration: none;
          > h4 {
            font-size: 18px;
          }
        }
        .blog-information {
          display: flex;
          font-size: 16px;
          padding-top: 10px;
          padding-bottom: 10px;
          > div {
            display: flex;
            flex-wrap: wrap;
            > a {
              text-decoration: none;
              font-size: 15px;
              color: #999999;
              margin-left: 5px;
            }
            > a:hover {
              color: #222;
            }
          }
          .divide {
            font-size: 14px;
            padding: 0 27px 0 20px;
          }
          @include breakpoint(991) {
            flex-direction: column;
            .divide {
              width: 0;
              height: 0;
            }
          }
        }
      }
      .blog-content {
        > p {
          font-size: 17px;
          line-height: 30px;
          color: #818181;
          font-family: 'Poppins', sans-serif !important;
        }
      }
    }
  }
}
