.banner {
  margin-top: -157.05px;
  .slider-inner {
    z-index: 1;
    background-image: url(../img/hero-1.jpg);
    background-size: cover;
    background-position: center;
    height: 731.2px;
  }

  &__content {
    padding-top: 187.05px;
    &-title {
      padding: 15px 0 30px 0;
      > h1 {
        color: #444444;
        font-size: 50px;
        line-height: 1.3;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 26px;
      }
      > h4 {
        font-size: 18px;
        color: #aaaaaa;
      }
      > p {
        color: #777777;
        line-height: 1.7;
        font-size: 16px;
      }
    }
    &-buttom {
      .buttom-left {
        margin-right: 10px;
        padding: 8px 10px 8px 10px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: #fe9603;
      }
      .buttom-left:hover {
        background-color: #3a3a3a;
      }
      .buttom-right {
        color: rgb(68, 68, 68);
        padding: 8px 10px 8px 10px;
        background: white;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid #cccccc;
      }
    }
  }
  @include breakpoint(1199) {
    .slider-inner {
      height: 640px;
    }
    &__content {
      &-title {
        padding: 15px 0 30px 0;
        > h1 {
          color: #444444;
          font-size: 40px;
          line-height: 1.3;
          letter-spacing: -1px;
          font-weight: 700;
          margin-bottom: 26px;
        }
        > h4 {
          font-size: 18px;
          color: #aaaaaa;
        }
        > p {
          color: #777777;
          line-height: 1.7;
          font-size: 16px;
        }
      }
    }
  }
  @include breakpoint(991) {
    margin: 0;
    .slider-inner {
      height: 550px;
    }
    &__content {
      &-title {
        padding: 15px 0 30px 0;
        > h1 {
          color: #444444;
          font-size: 30px;
          line-height: 1.3;
          letter-spacing: -1px;
          font-weight: 700;
          margin-bottom: 26px;
        }
        > h4 {
          font-size: 18px;
          color: #aaaaaa;
        }
        > p {
          color: #777777;
          line-height: 1.7;
          font-size: 16px;
        }
      }
    }
  }
  @include breakpoint(767) {
    .slider-inner {
      height: 520px;
    }
  }
}
