.careers {
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    margin: 0 50px;
  }
  .youtobe {
    text-align: center;
    > a {
      background-color: #ef8e3c;
      border-radius: 50%;
      padding: 32px 25px 27px 27px;
      line-height: 71px;
      transition: 0.3s;
      .icon {
        padding: 0;
        font-size: 24px;
        color: white;
        transition: 0.3s;
      }
    }
    > a:hover {
      padding: 35px 28px 30px 30px;
      .icon {
        font-size: 26px;
      }
    }
  }
  &__title {
    > p {
      padding-top: 30px;
      line-height: 28px;
      font-size: 18px;
    }
  }
  &__apply {
    box-shadow: 0px 0px 11px -5px;
    border-radius: 5px;
    overflow: hidden;
    &-body {
      background-color: #fff;
      padding: 10px;
      > h4 {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &-form {
        > form {
          > div {
            display: flex;
            flex-direction: column;
            padding: 0;
            > input {
              display: block;
              width: 100%;
              padding: 8px;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
              color: #212529;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border-radius: 0.25rem;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            }
            > a {
              text-transform: capitalize;
              font-weight: 600;
              color: #fff;
              padding-bottom: 5px;
              //   font-size: 14px;
            }
            > a:hover {
              background-color: #212529;
              color: #fff;
            }
          }
        }
      }
    }
  }
  @include breakpoint(767) {
    &-box {
      flex-direction: column;
    }
    .form {
      margin: 0;
      border-radius: 5px;
    }
    &__apply {
      &-body {
        border-radius: 5px;
      }
    }
  }
}
