.contact {
  padding: 165px 0;
  overflow: visible;
  position: relative;
  &__title {
    position: relative;
    text-align: center;
    > h5 {
      font-family: 'Poppins', sans-serif !important;
      letter-spacing: 1px !important;
      color: #444444;
      padding-bottom: 5px;
    }
    > h2 {
      font-size: 30px;
      font-weight: 700;
      padding-bottom: 25px;
      color: rgb(37, 37, 37);
      > span {
        color: #fe9603;
      }
    }
    > a {
      background-color: #fe9603;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 16px;
      color: white;
      padding: 5px 20px 5px 20px;
    }
    > a:hover {
      background-color: #444444;
      color: white;
    }
  }
}
.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 45%;
  width: 55%;
  height: 451px;
  background-image: url(../img/hero-3.svg);
  background-size: 1280px 451px;
}
