.futures {
  background-color: #0A0E17;

  &__inner {
    > a {
      text-decoration: none;
    }
    --spacing: 4rem;
    --columns: 4;
    padding-top: calc(var(--spacing) / 2);
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    &-item {
      --height: 5rem;
      width: calc(calc(100% / var(--columns)) - var(--spacing));
      margin-left: var(--spacing);
      margin-bottom: calc(var(--spacing) / 2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      background-color: $color-card-futures;
      width: 21.6rem;
      height: 18.7rem;
      padding: 1.6rem 2.1rem 3.2rem 2.1rem;
      border-radius: 5px;
      transition: all 0.2s linear;
      &:hover {
        transform: scale(1.02);
        background: linear-gradient(
          180deg,
          rgba(0, 110, 125, 1) 0%,
          rgba(146, 210, 222, 1) 100%
        );
      }
      &-image {
        max-width: 100%;
        display: block;
      }
    }
  }
  &__content {
    height: calc(100% - var(--height));
    text-align: center;
    &-desc,
    &-title {
      font-family: $open;
    }
    &-desc {
      display: block;
      color: $white;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 22px;
      @include textClamp(3);
    }
    &-title {
      margin-top: 1.2rem;
      font-size: 1.8rem;
      color: white;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }
}
