.planning {
  padding-top: 70px;
  padding-bottom: 40px;
  &__steps {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    &-all {
      > a {
        > img {
          margin-bottom: 20px;
          width: 65px;
        }
      }
      > h3 {
        text-transform: capitalize;
        font-size: 18px;
      }
      > p {
        font-size: 17px;
        line-height: 25px;
      }
      @include breakpoint(767) {
        > P {
          margin-bottom: 10px;
        }
      }
    }
  }
}
