.pricing {
  background-image: url(../img/4.png);
  background-size: cover;
  padding: 140px 0 0 0;
  &__content {
    display: flex;
    padding-top: 15px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    &-title {
      > p {
        padding-top: 30px;
        line-height: 28px;
        font-size: 18px;
      }
      &-switcher {
        padding-top: 30px;
        display: flex;
        .month {
          padding-right: 15px;
          font-size: 17px;
          font-weight: 700;
        }
        .year {
          font-size: 17px;
          padding-left: 15px;
          color: #a7a7a7;
        }
      }
    }
    &-buy {
      display: flex;
      flex-wrap: wrap;
      > div {
        padding: 0;
      }
      &-box {
        position: relative;
        margin-right: -0.5px;
        padding: 20px;
        background-color: white;
        border: 1px solid #e0e0e0;
        .pricing-title {
          letter-spacing: 1px;
          > img {
            max-width: 100%;
            width: 50px;
          }
          > h3 {
            padding-top: 10px;
            // padding-bottom: 5px;
            margin: 0;
            font-size: 21px;
            letter-spacing: 0;
            color: #555;
            text-transform: none;
          }
          > span {
            font-size: 14px;
            display: block;
            color: #777;
            margin: 3px 0;
          }
        }
        .pricing-price {
          padding: 1.5rem 0;
          color: #333;
          font-size: 60px;
          line-height: 1;
          &-left {
            font-weight: 600;
            .price-unit {
              display: inline-block;
              vertical-align: top;
              margin: 7px 3px 0 0;
              font-size: 28px;
              font-weight: 400;
            }
            .price-tenure {
              display: block;
              color: #aaa;
              font-size: 16px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #999;
              margin: 0 0 0 3px;
            }
          }
        }
        .pricing-futures {
          > ul {
            > li {
              padding: 7px 0;
              font-size: 14px;
              .icon {
                color: #fe9603;
              }
            }
          }
        }
        .pricing-action {
          > a {
            background-color: #fe9603;
            text-transform: capitalize;
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            color: white;
            transition: 0.3s;
          }
          > a:hover {
            background-color: #444;
            color: #fff;
          }
        }
      }
      .right {
        margin-top: 24px;
      }
    }
  }
}
