.projects {
  background-image: url(../img/5.jpg);
  background-size: cover;
  padding-top: 80px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 40px;
  &__works {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 30px;
    &-item {
      position: relative;
      > img {
        width: 100%;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a8a8a8;
        transition: 0.5s;
        > a {
          color: black;
          width: 40px;
          border-radius: 50%;
          background: white;
          line-height: 40px;
          font-size: 12px;
        }
      }
    }
    &-item:hover .overlay {
      opacity: 0.8;
    }
    &-content {
      text-align: left;
      padding-bottom: 20px;
      > h3 {
        padding-top: 10px;
        font-size: 22px;
        > a {
          color: #444444;
          text-decoration: none;
        }
        > a:hover {
          color: #fe961a;
        }
      }
      > p {
        color: #818181;
        font-size: 18px;
      }
    }
    @include breakpoint(767) {
    }
  }
  &__view {
    > a {
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
      padding: 5px 25px 5px 25px;
      color: white;
    }
    > a:hover {
      color: white;
      background-color: #444444;
    }
    padding-bottom: 50px;
  }
}
