.services {
  position: relative;
  width: 100%;
  background-color: transparent !important;
  padding: 0 0px 20px 0;
  overflow: hidden;
  &__carousel {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 40px 0;
    .item {
      > img {
        height: 34px;
      }
    }
  }
  @include breakpoint(767) {
    &__carousel {
      .item {
        > img {
          width: 100%;
        }
      }
    }
  }
  &__content {
    margin-top: 80px;
    text-align: center;
    &-title {
      display: inline-block;
      max-width: 550px;
      > h3 {
        padding-top: 5px;
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 28px;
        color: #333;
      }
      > p {
        font-size: 18.1px;
        line-height: 30px;
        color: #777;
        margin-bottom: 30px;
      }
    }
    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 70px;
      &-left {
        display: flex;
        padding-right: 30px;
        padding-bottom: 30px;
        .fbox-icon {
          padding-top: 20px;
          padding-left: 5px;
          > img {
            width: 65px;
          }
        }
        .fbox-content {
          text-align: right;
          padding: 10px 10px 0 0;
          > h3 {
            font-size: 17px;
          }
          > p {
            line-height: 25px;
            font-size: 16px;
            color: #999;
          }
          // @include breakpoint(767) {
          //   text-align: left;
          //   > h3 {
          //     font-size: 12px;
          //   }
          // }
        }
      }
      &-img {
        > img {
          width: 100%;
        }
      }
      &-right {
        display: flex;
        padding-left: 30px;
        padding-bottom: 30px;
        .fbox-icon {
          padding-top: 20px;
          > img {
            width: 65px;
          }
        }
        .fbox-content {
          text-align: left;
          padding: 10px 0 0 10px;
          > h3 {
            font-size: 17px;
          }
          > p {
            line-height: 25px;
            font-size: 16px;
            color: #999;
          }
          // @include breakpoint(767) {
          //   text-align: left;
          //   > h3 {
          //     font-size: 12px;
          //   }
          // }
        }
      }
      @include breakpoint(767) {
        .phone {
          padding: 0 20px 0 20px;
        }
        .fbox-content {
          text-align: left;
        }
      }
      @include breakpoint(564) {
        display: flex;
        flex-direction: column;
        .phone {
          display: flex;
          justify-content: center;
        }
        &-img {
          width: 300px;
        }
        &-left {
          flex-direction: row-reverse;
          padding: 0 0 20px 0;
          .fbox-content {
            padding: 10px 0 0 10px;
          }
        }
        &-right {
          padding: 20px 0 0 0;
        }
      }
    }
  }
}
