.trade--annywhere {
  background-color: #1c2230;
  &__inner {
    padding-top: 4.7rem;
    padding-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &-image {
      max-width: 100%;
      display: block;
    }
  }
  &__content {
    color: $white;
    margin-left: 7rem;
    &-title {
      font-size: 3.1rem;
      line-height: 3.6rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    &-caption {
      display: block;
      font-size: 1.7rem;
      line-height: 2.4rem;
      font-family: $open;
      margin-bottom: 2.5rem;
    }
  }
  @include breakpoint(1023) {
    &__content {
      &-title {
        font-size: 2rem;
      }
      &-caption {
        font-size: 1.5rem;
      }
    }
  }
  @include min-breakpoint(768) {
    &__inner {
      padding-bottom: 4rem;
      &-image {
        max-width: 50%;
      }
    }
  }
  @include breakpoint(767) {
    &__inner {
      flex-direction: column;
    }
    &__content {
      margin-left: 0;
    }
  }
}
